/**
 * file: style.css
 * purpose: effects ...
 **/

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans+Condensed:300&display=swap');

body {
  padding: 2rem;
  font-family: 'Lato', sans-serif;
  font-size: large;
  background-image: url(../images/bro.jpg);
  background-size:100% 100%;
}

img {
  max-width: 100%;
}

#wrapper {
  background-color:   #fff;
}

h1, h2, h3 {
  font-family: 'Open Sans Condensed', sans-serif;
}

header, footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: small;
}

header a, footer a {
  color: #1fe223;
}

article, aside {
  position: relative;
  height: 700px;
  width: 100%;
}

@keyframes fraOgTil {
    from {
		  left: 100px;
      top: 0;
		}
    to {
			left: 500px;
      top: 199px;
		}
}

@keyframes brushUp {
    0%   {top: 0px;}
    25%  {top: 200px;}
    50%  {top: 100px;}
    75%  {top: 200px;}
    100% {top: 333px;}
}

/* ---- her er den ---*/
#me {
  position: relative;
  background-image: url(../images/ufo.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  animation-name: brushUp;
  animation-duration: 4s;

  animation-timing-function: ease-out; /* easing */
  animation-iteration-count: infinite; /* gentager evigt */
}


/* TRANSISTION: The animation code */
/*
@keyframes andersAnd {
    from {
			background-color: pink;
			font-size: 2rem;
			width: 300px;
		}
    to {
			background-color: yellow;
			font-size: 4rem;
			width: 500px;
		}
}

/* Alternative method */
/*
@keyframes bedstemorAnd {
    0%   {
			background-color: red;
			width: 200px;
		}
    25%  {
			background-color: yellow;
						width: 700px;
			}
    50%  {
			background-color: blue;
						width: 400px;
			}
    100% {
			background-color: green;
						width: 200px;
		}
}
*/

h1 {
    animation-name: andersAnd;
    animation-duration: 2s;
		animation-timing-function: ease-in-out;
		/*animation-iteration-count: infinite; */
}
*/
p {
	animation-name: bedstemorAnd;
	animation-duration: 2s;
}
