/**
 * file: style.css
 * purpose: effects ...
 **/

/* The animation code */
@keyframes example {
    from {background-color: pink;}
    to {background-color: yellow;}
}

/* More complex: step by step */
@keyframes example2 {
    0%   {
    		background-color: red;
    		width: 100px;
    	}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {
    	background-color: green;
		width: 200px;
		left: 111px;  
    }
}

/* class vs. id */

/* fade in fade out? */

/* transform image: square to circle? */

/* trigger transform by hover? */

/* transitions m. hover event */

#first {
    width: 100px;
    height: 100px;
    /* overflow: hidden; */
    background: red;
    -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 4s;
}

#first:hover {
    width: 300px;
    height: 300px;
}
