/**
 * file: style.css
 * purpose: effects ...
 **/

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans+Condensed:300&display=swap');

body {
  padding: 2rem;
  background-color: #000;
  font-family: 'Lato', sans-serif;
  font-size: large;
}

img {
  max-width: 100%;
}

#wrapper {
  background-color:   #fff;
}

h1, h2, h3 {
  font-family: 'Open Sans Condensed', sans-serif;
}

header, footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: small;
}

header a, footer a {
  color: #1fe223;
}

article, aside {
  padding: 2rem;
}

/* TRANSISTION: The animation code */
/*
@keyframes andersAnd {
    from {
			background-color: pink;
			font-size: 2rem;
			width: 300px;
		}
    to {
			background-color: yellow;
			font-size: 4rem;
			width: 500px;
		}
}

/* Alternative method */
/*
@keyframes bedstemorAnd {
    0%   {
			background-color: red;
			width: 200px;
		}
    25%  {
			background-color: yellow;
						width: 700px;
			}
    50%  {
			background-color: blue;
						width: 400px;
			}
    100% {
			background-color: green;
						width: 200px;
		}
}
*/

h1 {
    animation-name: andersAnd;
    animation-duration: 2s;
		animation-timing-function: ease-in-out;
		/*animation-iteration-count: infinite; */
}
*/
p {
	animation-name: bedstemorAnd;
	animation-duration: 2s;
}
